/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/lato/latoblack.woff") format("woff"), url("../fonts/lato/latoblack.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/lato/latoblackitalic.woff") format("woff"), url("../fonts/lato/latoblackitalic.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/lato/latobold.woff") format("woff"), url("../fonts/lato/latobold.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/lato/latobolditalic.woff") format("woff"), url("../fonts/lato/latobolditalic.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/latoregular.woff") format("woff"), url("../fonts/lato/latoregular.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/lato/latolight.woff") format("woff"), url("../fonts/lato/latolight.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/lato/latolightitalic.woff") format("woff"), url("../fonts/lato/latolightitalic.ttf");
}

.breadcrumbs-container {
  padding: 20px 0 20px 0;
}

.breadcrumbs-container .breadcrumbs li a {
  color: #005aa8;
  font-size: 14px;
  font-weight: 400;
  font-family: Lato;
  text-decoration: underline;
}

.horizontal-line {
  border-bottom: 2px solid #005aa8;
  margin-bottom: 20px;
}

.about-company-content h2, .basket-content h2, .shares-content h2, .shares-inner-content h2, .resellers-content h2, .representetives-content h2, .shipping-and-payments-content h2, .contacts-content h2 {
  color: black;
  font-family: Lato;
  font-size: 26px;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.band-color1 {
  background-color: black;
}

.header-top {
  padding: 5px 0;
}

.header-top .header-top-contacts {
  float: left;
}

.header-top .header-top-contacts a {
  color: white;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
}

.header-top .header-top-contacts a:hover {
  color: #1ac0ff;
}

.header-top .header-top-quastions {
  float: right;
  color: white;
  font-family: Lato;
  font-weight: 400;
  font-size: 13px;
}

.header-bottom {
  padding: 9px 0;
}

.header-bottom .header-logo {
  float: left;
  cursor: pointer;
}

.header-bottom .animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-bottom .animated img {
  float: left;
}

.header-bottom .animated .logo-description {
  padding: 37px 0 0 5px;
  float: right;
  color: #005aa8;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
}

.header-bottom .wrap-header-user {
  float: right;
  position: relative;
}

.header-bottom .wrap-header-user .header-account-btn {
  float: left;
  text-align: center;
  padding-right: 60px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
}

.header-bottom .wrap-header-user .header-account-btn:hover .fa-user-o {
  color: #0083f4;
}

.header-bottom .wrap-header-user .header-account-btn:hover h3 {
  color: #0083f4;
}

.header-bottom .wrap-header-user .header-account-btn .fa-user-o {
  padding-top: 20px;
  font-family: FontAwesome;
  font-size: 36px;
  font-weight: 400;
  color: black;
}

.header-bottom .wrap-header-user .header-account-btn h3 {
  padding: 7px 0 0 0;
  float: left;
  color: black;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-bottom .wrap-header-user #user-form {
  display: none;
  z-index: 10;
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: white;
}

.header-bottom .wrap-header-user #user-form h3 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding: 17px 0 17px 0;
  text-align: center;
}

.header-bottom .wrap-header-user #user-form .input-user-form-user {
  width: 270px;
  height: 30px;
  display: block;
  margin: 0 20px 10px 20px;
  padding-left: 5px;
}

.header-bottom .wrap-header-user #user-form .input-user-form-password {
  width: 270px;
  height: 30px;
  display: block;
  margin: 0 20px 10px 20px;
  padding-left: 5px;
}

.header-bottom .wrap-header-user #user-form .btn-user-form {
  display: block;
  width: 270px;
  height: 30px;
  color: white;
  background-color: #0083f4;
  text-align: center;
  padding: 7px 0 7px 0;
  margin: 0 auto;
}

.header-bottom .wrap-header-user #user-form .btn-user-form:hover {
  background-color: #ff0000;
}

.header-bottom .wrap-header-user #user-form .btn-user-form:active {
  background-color: #003868;
}

.header-bottom .wrap-header-user #user-form .user-options {
  display: block;
  margin: 20px 20px 20px 20px;
}

.header-bottom .wrap-header-user #user-form .user-options .user-forgot-password {
  display: block;
  float: left;
  color: black;
  padding-bottom: 10px;
  text-decoration: underline;
}

.header-bottom .wrap-header-user #user-form .user-options .user-registration {
  display: block;
  float: right;
  color: black;
  padding-bottom: 10px;
  text-decoration: underline;
}

.header-bottom .wrap-header-user .header-cart {
  position: relative;
  float: right;
  padding-top: 20px;
  text-align: center;
}

.header-bottom .wrap-header-user .header-cart:hover .cart-image {
  display: none;
}

.header-bottom .wrap-header-user .header-cart:hover .cart-image-hover {
  display: block;
  padding-left: 6.5px;
}

.header-bottom .wrap-header-user .header-cart:hover h3 {
  color: #0083f4;
  margin-top: 3px;
}

.header-bottom .wrap-header-user .header-cart .cart-image {
  width: 46px;
  height: 37px;
}

.header-bottom .wrap-header-user .header-cart .cart-image-hover {
  display: none;
}

.header-bottom .wrap-header-user .header-cart .cirkle-with-amount-product {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -3px;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}

.header-bottom .wrap-header-user .header-cart h3 {
  padding: 2px 0 0 0;
  color: black;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.band-color2 {
  background-color: #003868;
}

.nav > li {
  display: inline-block;
  position: relative;
}

.nav > li > a {
  display: inline-block;
  color: #0083f4;
  font-size: 18px;
  font-family: Lato;
  font-weight: 400;
  padding: 20px 44px;
  background-color: #003868;
}

.nav > li:hover a {
  background-color: #005aa8;
  color: white;
}

.nav > li .fa-th-list {
  padding-right: 5px;
  font-size: 18px;
  font-weight: 300;
}

.nav > li:hover .menu-drop-down {
  opacity: 1;
  display: block;
}

.nav > li .menu-drop-down {
  display: none;
  width: 178px;
  position: absolute;
  left: 0;
  top: 58px;
  opacity: 0;
  z-index: 1;
  background-color: #005aa8;
}

.nav > li .menu-drop-down li {
  display: block;
  position: relative;
}

.nav > li .menu-drop-down li a {
  display: block;
  color: #0083f4;
  padding: 9px 18px 9px 18px;
}

.nav > li .menu-drop-down li a:hover {
  background-color: #0083f4;
  color: white;
}

.nav > li .menu-drop-down li:hover ul {
  opacity: 1;
  display: block;
}

.nav > li .menu-drop-down li ul {
  display: none;
  width: 178px;
  position: absolute;
  left: 178px;
  top: 0;
  opacity: 0;
  z-index: 1;
  background-color: #005aa8;
}

.nav > li .menu-drop-down li ul li {
  display: block;
}

.nav > li .menu-drop-down li ul li a {
  display: block;
  color: #0083f4;
  padding: 9px 18px 9px 18px;
}

.nav > li .menu-drop-down li ul li a:hover {
  background-color: #0083f4;
  color: white;
}

.company-picture {
  position: relative;
}

.company-picture img {
  width: 100%;
}

.company-picture .wrapper-for-brand-picture .social-brand-picture {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -565px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.company-picture .wrapper-for-brand-picture .social-brand-picture li {
  display: block;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 131, 244, 0.7);
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  margin: 10px 0 10px 0;
  overflow: hidden;
  float: right;
  clear: both;
}

.company-picture .wrapper-for-brand-picture .social-brand-picture li a {
  display: block;
  float: right;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.company-picture .wrapper-for-brand-picture .social-brand-picture li a:hover {
  background-color: #005aa8;
  color: white;
  outline: none;
}

.company-picture .wrapper-for-brand-picture .social-brand-picture li a:active {
  background-color: red;
  outline: none;
}

.company-picture .wrapper-for-brand-picture .description-brand-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -565px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 56, 104, 0.6);
  border-radius: 5px;
  padding: 12px 20px;
}

.company-picture .wrapper-for-brand-picture .description-brand-picture h2 {
  color: white;
  font-family: Lato;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}

.company-picture .wrapper-for-brand-picture .description-brand-picture span {
  color: white;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}

.company-picture .wrapper-for-brand-picture .animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.headline-serif {
  padding: 20px 0;
}

.headline-separator-holder {
  line-height: 1.5;
  text-align: center;
  color: #005aa8;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  line-height: 23px;
  overflow: hidden;
}

.headline-separator-holder span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.headline-separator-holder span:after, .headline-separator-holder span:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-bottom: 2px solid #005aa8;
}

.headline-separator-holder span:before {
  right: 100%;
  margin-right: 15px;
  width: 1000px;
}

.headline-separator-holder span:after {
  left: 100%;
  margin-left: 15px;
  width: 1000px;
}

.product-slider {
  text-align: center;
}

.product-slider h2 {
  display: inline-block;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.product-slider .owl-carousel {
  padding: 0 130px;
}

.product-slider .owl-carousel .carousel-product {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}

.product-slider .owl-carousel .carousel-product .wrap-for-image {
  display: block;
  text-align: center;
  height: 221px;
  line-height: 221px;
}

.product-slider .owl-carousel .carousel-product .wrap-for-image:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.product-slider .owl-carousel .carousel-product .wrap-for-image img {
  vertical-align: middle;
  display: inline-block;
  max-width: 270px;
  max-height: 161px;
  width: auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.product-slider .owl-carousel .carousel-product h4 {
  text-align: left;
  padding: 10px 0 10px 0;
}

.product-slider .owl-carousel .carousel-product h4 .product-capture {
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.product-slider .owl-carousel .carousel-product .details-available {
  text-align: left;
}

.product-slider .owl-carousel .carousel-product .details-available .not-available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-slider .owl-carousel .carousel-product .details-available .available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-slider .owl-carousel .carousel-product .details-price {
  display: block;
  padding-top: 16px;
  float: left;
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.product-slider .owl-carousel .carousel-product .btn-buy {
  position: relative;
  float: right;
  padding: 8px 28px;
  border: 2px solid #0083f4;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-slider .owl-carousel .carousel-product .btn-buy:hover {
  background-color: #0083f4;
  color: white;
}

.product-slider .owl-carousel .carousel-product .btn-buy:active {
  background-color: #003868;
  border: 2px solid #003868;
}

.product-slider .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider .owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../img/click-prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider .owl-carousel .owl-nav .owl-prev:active {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/click-prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/next-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider .owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../img/click-next-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider .owl-carousel .owl-nav .owl-next:active {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/click-next-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second {
  text-align: center;
}

.product-slider-second h2 {
  display: inline-block;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 0;
}

.product-slider-second .owl-carousel {
  padding: 0 130px;
  position: relative;
}

.product-slider-second .owl-carousel .carousel-product {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}

.product-slider-second .owl-carousel .carousel-product .wrap-for-image {
  display: block;
  text-align: center;
  padding-top: 10px;
  height: 221px;
  line-height: 221px;
}

.product-slider-second .owl-carousel .carousel-product .wrap-for-image:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.product-slider-second .owl-carousel .carousel-product .wrap-for-image img {
  vertical-align: middle;
  display: inline-block;
  max-width: 270px;
  max-height: 161px;
  width: auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.product-slider-second .owl-carousel .carousel-product h4 {
  text-align: left;
  padding: 10px 0 10px 0;
}

.product-slider-second .owl-carousel .carousel-product h4 .product-capture {
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.product-slider-second .owl-carousel .carousel-product .details-available {
  text-align: left;
}

.product-slider-second .owl-carousel .carousel-product .details-available .not-available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-slider-second .owl-carousel .carousel-product .details-available .available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-slider-second .owl-carousel .carousel-product .details-price {
  display: block;
  padding-top: 16px;
  float: left;
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.product-slider-second .owl-carousel .carousel-product .btn-buy {
  float: right;
  padding: 8px 28px;
  border: 2px solid #0083f4;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-slider-second .owl-carousel .carousel-product .btn-buy:hover {
  background-color: #0083f4;
  color: white;
}

.product-slider-second .owl-carousel .carousel-product .btn-buy:active {
  background-color: #003868;
  border: 2px solid #003868;
}

.product-slider-second .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second .owl-nav .owl-prev:hover {
  background-image: url(../img/click-prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second .owl-nav .owl-prev:active {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/click-prev-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/next-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second .owl-nav .owl-next:hover {
  background-image: url(../img/click-next-slider-button.png);
  background-repeat: no-repeat;
}

.product-slider-second .owl-nav .owl-next:active {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/click-next-slider-button.png);
  background-repeat: no-repeat;
}

.subscription {
  padding-top: 60px;
  position: relative;
  z-index: 0;
}

.subscription .subscription-image {
  z-index: 1;
  display: block;
}

.subscription .wrap-for-news-and-shares {
  text-align: center;
  position: absolute;
  top: 98px;
  right: 160px;
  width: 350px;
  padding: 15px 35px 15px 35px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(0, 56, 104, 0.7);
  text-align: center;
  z-index: 2;
}

.subscription .wrap-for-news-and-shares .letter-image {
  position: absolute;
  left: 50%;
  margin-left: -88.5px;
  margin-top: -96.5px;
  z-index: 2;
}

.subscription .wrap-for-news-and-shares h3 {
  position: relative;
  font-family: Lato;
  font-style: italic;
  font-size: 26px;
  font-weight: 700;
  color: white;
  z-index: 3;
  white-space: nowrap;
  line-height: 35px;
}

.subscription .wrap-for-news-and-shares h3 span {
  color: #ff0000;
  font-style: italic;
}

.subscription .wrap-for-news-and-shares h5 {
  padding-top: 30px;
  color: white;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  line-height: 22px;
  white-space: nowrap;
}

.subscription .wrap-for-news-and-shares .input-name {
  padding-left: 10px;
  margin-top: 25px;
  display: inline-block;
  width: 270px;
  height: 28px;
  background-color: transparent;
  z-index: 3;
  border: 2px solid white;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  outline: none;
}

.subscription .wrap-for-news-and-shares .input-name::-webkit-input-placeholder {
  color: white;
}

.subscription .wrap-for-news-and-shares .input-telephone {
  padding-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 270px;
  height: 28px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  outline: none;
}

.subscription .wrap-for-news-and-shares .input-telephone::-webkit-input-placeholder {
  color: white;
}

.subscription .wrap-for-news-and-shares .input-email {
  padding-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 270px;
  height: 28px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  outline: none;
}

.subscription .wrap-for-news-and-shares .input-email::-webkit-input-placeholder {
  color: white;
}

.subscription .wrap-for-news-and-shares .btn-subscribe {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 67px;
  background-color: #005aa8;
  color: #e9e9e9;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  border: none;
}

.subscription .wrap-for-news-and-shares .btn-subscribe:hover {
  background-color: #ff0000;
  outline: none;
}

.subscription .wrap-for-news-and-shares .btn-subscribe:active {
  background-color: #003868;
  outline: none;
}

.breadcrumbs-container .breadcrumbs li {
  display: inline-block;
}

.about-company-content {
  position: relative;
  left: -43px;
  width: 1083px;
  padding-bottom: 100px;
}

.about-company-content p {
  padding-bottom: 20px;
}

.about-company-content p strong {
  font-weight: 700;
}

.about-company-content p span {
  font-weight: 700;
  color: #005aa8;
}

.about-company-content ol {
  list-style: decimal inside;
  padding-bottom: 20px;
}

.about-company-content ol li {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.basket-content {
  padding-bottom: 100px;
  padding-top: 20px;
}

.basket-content .wrap-link-basket ul {
  font-size: 0;
}

.basket-content .wrap-link-basket ul li {
  display: inline-block;
}

.basket-content .wrap-link-basket ul li a {
  text-align: center;
  width: 292px;
  display: inline-block;
  color: #005aa8;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
  border: 2px solid #005aa8;
  border-right-width: 0px;
}

.basket-content .wrap-link-basket ul li a:hover {
  background-color: #005aa8;
  color: white;
}

.basket-content .wrap-link-basket ul li a:active {
  background-color: red;
  border-color: red;
}

.basket-content .wrap-link-basket ul li:last-child a {
  border-right-width: 2px;
}

.basket-content h2 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0;
}

.basket-content .wrap-for-column-basket .wrap-for-column {
  padding: 5px 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid darkgray;
}

.basket-content .wrap-for-column-basket .wrap-for-column.block-without-image .main-column .inner-for-column {
  margin-left: 178px;
}

.basket-content .wrap-for-column-basket .wrap-for-column .td-column {
  float: left;
  text-align: center;
  vertical-align: middle;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column {
  line-height: 5;
  width: 70%;
  text-align: left;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column h2 {
  padding: 0;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column img {
  padding: 0 70px;
  float: left;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column .inner-for-column {
  line-height: 0;
  float: left;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column .inner-for-column h3 {
  font-weight: 700;
  padding-top: 20px;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column .inner-for-column .product-in-use {
  color: #0083f4;
  display: inline-block;
  padding-top: 25px;
}

.basket-content .wrap-for-column-basket .wrap-for-column .main-column .product-in-use {
  color: #0083f4;
  display: inline-block;
  padding-top: 25px;
}

.basket-content .wrap-for-column-basket .wrap-for-column .second-column {
  line-height: 5;
  width: 9%;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.basket-content .wrap-for-column-basket .wrap-for-column .third-column {
  line-height: 5;
  width: 9%;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.basket-content .wrap-for-column-basket .wrap-for-column .fourth-column {
  line-height: 5;
  width: 12%;
  position: relative;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.basket-content .wrap-for-column-basket .wrap-for-column .fourth-column .quantity {
  width: 68px;
  height: 40px;
  padding-left: 16px;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #d1d1d1;
}

.basket-content .wrap-for-column-basket .wrap-for-column .fourth-column .wrap-for-canceled {
  display: inline-block;
  background: url(../img/basket-canceled.png) no-repeat;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.basket-content .wrap-for-column-basket .wrap-for-column .fourth-column .quantity-plus {
  color: black;
  font-family: "Font Awesome";
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  top: 26px;
  left: 60px;
  line-height: 0;
  cursor: pointer;
}

.basket-content .wrap-for-column-basket .wrap-for-column .fourth-column .quantity-minus {
  color: black;
  font-family: "Font Awesome";
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  bottom: 28px;
  left: 60px;
  line-height: 0;
  cursor: pointer;
}

.basket-content .wrap-for-column-basket .clear-the-basket {
  display: inline-block;
  color: #0083f4;
  float: right;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 15px;
}

.basket-content .wrap-for-column-basket .clear-the-basket:hover {
  color: red;
}

.basket-content .wrap-for-column-basket .wrap-for-order {
  float: right;
  clear: both;
  margin-top: 15px;
  border: 2px solid #005aa8;
  text-align: center;
}

.basket-content .wrap-for-column-basket .wrap-for-order h2 {
  color: white;
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding: 21px 91px;
  clear: both;
  background-color: #005aa8;
}

.basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .left-column {
  float: left;
  margin-left: 20px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .right-column {
  float: right;
  margin-right: 20px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .left-column .h3-main-order, .basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .right-column .h3-main-order {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 4px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .left-column h3, .basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .right-column h3 {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .left-column .h3-order-resume, .basket-content .wrap-for-column-basket .wrap-for-order .inner-wrap-for-order .right-column .h3-order-resume {
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 9px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .btn-order {
  display: inline-block;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #0083f4;
  padding: 8px 114px;
  margin-bottom: 20px;
}

.basket-content .wrap-for-column-basket .wrap-for-order .btn-order:hover {
  background-color: #005aa8;
  color: white;
}

.basket-content .wrap-for-column-basket .wrap-for-order .btn-order:active {
  background-color: red;
  border-color: red;
}

.basket-content .wrap-for-column-basket .column-9percent, .basket-content .wrap-for-column-basket .column-11percent {
  float: right;
}

.catalog-content {
  padding-bottom: 110px;
}

.catalog-content .col3 {
  width: 20%;
  float: left;
}

.catalog-content .col3 .multi-accordion ul li {
  display: list-item;
}

.catalog-content .col3 .multi-accordion ul li a {
  display: inline-block;
  padding-bottom: 17px;
  color: black;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.catalog-content .col3 .multi-accordion ul li a:hover {
  color: #0083f4;
}

.catalog-content .col3 .multi-accordion ul li ul {
  display: none;
}

.catalog-content .col3 .multi-accordion ul li ul li a {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 11px;
}

.catalog-content .col3 .multi-accordion ul li ul li a:hover {
  color: #0083f4;
}

.catalog-content .col9 {
  width: 80%;
  float: right;
}

.catalog-content .col9 h2 {
  color: black;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
}

.catalog-content .col9 h3 {
  color: black;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
}

.catalog-content .col9 .catalog-product-page h2 {
  display: inline-block;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.catalog-content .col9 .catalog-product-page .carousel-product {
  float: left;
  text-align: center;
  max-width: 270px;
  margin: 0 21px;
}

.catalog-content .col9 .catalog-product-page .carousel-product .wrap-for-image {
  display: block;
  text-align: center;
  height: 221px;
  line-height: 221px;
}

.catalog-content .col9 .catalog-product-page .carousel-product .wrap-for-image:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.catalog-content .col9 .catalog-product-page .carousel-product .wrap-for-image img {
  vertical-align: middle;
  display: inline-block;
  max-width: 270px;
  max-height: 161px;
  width: auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.catalog-content .col9 .catalog-product-page .carousel-product h4 {
  text-align: left;
  padding: 10px 0 10px 0;
}

.catalog-content .col9 .catalog-product-page .carousel-product h4 .product-capture {
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.catalog-content .col9 .catalog-product-page .carousel-product .details-available {
  text-align: left;
}

.catalog-content .col9 .catalog-product-page .carousel-product .details-available .not-available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.catalog-content .col9 .catalog-product-page .carousel-product .details-available .available {
  color: #0058a5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.catalog-content .col9 .catalog-product-page .carousel-product .details-price {
  display: block;
  padding-top: 16px;
  float: left;
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.catalog-content .col9 .catalog-product-page .carousel-product .btn-buy {
  position: relative;
  float: right;
  padding: 8px 28px;
  border: 2px solid #0083f4;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-content .col9 .catalog-product-page .carousel-product .btn-buy:hover {
  background-color: #0083f4;
  color: white;
}

.catalog-content .col9 .catalog-product-page .carousel-product .btn-buy:active {
  background-color: #003868;
  border: 2px solid #003868;
}

.catalog-content .col9 .pagination {
  margin-top: 20px;
}

.catalog-content .col9 .pagination .prev {
  float: left;
  margin-left: 430px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/prev-slider-button.png) no-repeat;
}

.catalog-content .col9 .pagination .prev:hover {
  background: url(../img/click-prev-slider-button.png) no-repeat;
}

.catalog-content .col9 .pagination .next {
  float: right;
  margin-right: 430px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/next-slider-button.png) no-repeat;
}

.catalog-content .col9 .pagination .next:hover {
  background: url(../img/click-next-slider-button.png) no-repeat;
}

.product-card-content .wrap-for-product-card {
  width: 560px;
  float: left;
}

.product-card-content .wrap-for-product-card h3 {
  padding-top: 20px;
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.product-card-content .wrap-for-product-card img {
  float: left;
  margin: 20px 130px;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .details-available {
  padding-top: 20px;
  color: #0083f4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .details-price {
  padding: 7px 0;
  color: black;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .quantity {
  float: left;
  display: block;
  text-align: center;
  width: 8px;
  height: 19px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  width: 25px;
  border: none;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .quantity-plus-card {
  float: left;
  display: block;
  background: url(../img/next-quantity-product-card.png) no-repeat;
  width: 20px;
  height: 20px;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .quantity-minus-card {
  float: left;
  display: block;
  background: url(../img/prev-quantity-product-card.png) no-repeat;
  width: 20px;
  height: 20px;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card .exit-from-quantity {
  margin: 4px 10px;
  float: left;
  display: block;
  background: url(../img/exit-quantity.png) no-repeat;
  width: 30px;
  height: 30px;
}

.product-card-content .wrap-for-product-card .wrap-for-order-card input[type=submit] {
  display: inline-block;
  margin-top: 175px;
  display: block;
  padding: 7px 29px;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #0083f4;
}

.product-card-content .wrap-for-product-card .description-product-card {
  clear: both;
}

.product-card-content .wrap-for-product-card .description-product-card h2 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}

.product-card-content .wrap-for-product-card .description-product-card p {
  padding-top: 20px;
  width: 556px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.product-card-content .wrap-for-product-card a {
  display: inline-block;
  color: #005aa8;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 60px;
  margin-top: 25px;
}

.shares-content {
  padding-bottom: 100px;
  position: relative;
  left: -43px;
  width: 1083px;
  text-align: center;
}

.shares-content h2 {
  text-align: center;
  text-transform: uppercase;
}

.shares-content .wrap-for-shares {
  display: inline-block;
  border: 3px solid #005aa8;
  cursor: pointer;
}

.shares-content .wrap-for-shares:hover {
  border: 3px solid red;
}

.shares-content .wrap-for-shares:hover .time-for-shares .shares-h2 {
  color: red;
}

.shares-content .wrap-for-shares:hover .time-for-shares .shares-h3 {
  color: red;
}

.shares-content .wrap-for-shares:hover .special-purpose-shares span {
  color: red;
}

.shares-content .wrap-for-shares:hover .special-purpose-shares .date {
  color: red;
}

.shares-content .wrap-for-shares .time-for-shares {
  float: left;
  background-color: #d1d1d1;
  padding: 22px 70px;
}

.shares-content .wrap-for-shares .time-for-shares .shares-h2 {
  color: #005aa8;
  font-family: Lato;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0;
}

.shares-content .wrap-for-shares .time-for-shares .shares-h3 {
  color: #005aa8;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
}

.shares-content .wrap-for-shares .special-purpose-shares {
  float: right;
}

.shares-content .wrap-for-shares .special-purpose-shares .date {
  float: right;
  padding: 20px 20px 0 0;
  color: black;
  font-weight: 900;
  color: #005aa8;
}

.shares-content .wrap-for-shares .special-purpose-shares span {
  display: block;
  padding: 50px 10px 10px 10px;
  color: #005aa8;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}

.shares-content .animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.shares-inner-content {
  padding-bottom: 100px;
  position: relative;
  left: -43px;
  width: 1083px;
  text-align: center;
}

.shares-inner-content h2 {
  text-align: center;
  text-transform: uppercase;
}

.shares-inner-content .shares-inner-description {
  text-align: left;
}

.shares-inner-content .shares-inner-description h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Lato;
  font-size: 18px;
  color: #005aac;
  font-weight: 700;
  color: #005aac;
  text-transform: uppercase;
}

.shares-inner-content .shares-inner-description p {
  padding-bottom: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: black;
  line-height: 20px;
}

.shares-inner-content .shares-inner-description p .strong {
  font-weight: 700;
}

.shares-inner-content .shares-inner-description p a {
  color: #005aac;
}

.resellers-content {
  padding-bottom: 90px;
  position: relative;
  left: -43px;
  width: 1083px;
}

.resellers-content h3 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
}

.resellers-content p {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 20px;
}

.breadcrumbs-container .breadcrumbs li {
  display: inline-block;
}

.representetives-content {
  position: relative;
  left: -43px;
  width: 1083px;
  padding-bottom: 100px;
}

.representetives-content h2 span {
  color: #005aa8;
}

.representetives-content h3 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}

.representetives-content ol {
  list-style: decimal inside;
  padding-bottom: 20px;
}

.representetives-content ol li {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.representetives-content h1 {
  color: black;
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 239px;
}

.representetives-content form {
  border: 2px solid #d1d1d1;
  width: 802px;
  overflow: hidden;
  padding: 23px 23px 6px 23px;
}

.representetives-content form .column-half {
  float: left;
  width: 347px;
  padding-bottom: 17px;
}

.representetives-content form .column-half label span {
  display: inline-block;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
}

.representetives-content form .column-half label input {
  border: 2px solid #d1d1d1;
  width: 347px;
  height: 32px;
}

.representetives-content form .column-half label textarea {
  width: 347px;
  height: 64px;
}

.representetives-content form .column-half #btn-representatives {
  width: 347px;
  height: 32px;
  border: 1px solid #0083f4;
  background-color: white;
  margin-top: 17px;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.representetives-content form .column-half #btn-representatives:hover {
  background-color: #005aa8;
  color: white;
  border: none;
}

.representetives-content form .column-half #btn-representatives:active {
  background-color: red;
  outline: none;
}

.representetives-content form .column-half:nth-child(2n+1) {
  margin-right: 58px;
}

.shipping-and-payments-content {
  padding-bottom: 320px;
}

.shipping-and-payments-content p {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

.shipping-and-payments-content h3 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}

.personal-account-content h2 {
  text-align: center;
  color: black;
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  padding: 20px 0;
  text-transform: uppercase;
}

.personal-account-content .wrap-link-account ul {
  font-size: 0;
}

.personal-account-content .wrap-link-account ul li {
  display: inline-block;
}

.personal-account-content .wrap-link-account ul li a {
  text-align: center;
  width: 292px;
  display: inline-block;
  color: #005aa8;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
  border: 2px solid #005aa8;
  border-right-width: 0px;
}

.personal-account-content .wrap-link-account ul li a:hover {
  background-color: #005aa8;
  color: white;
  outline: none;
}

.personal-account-content .wrap-link-account ul li a:active {
  background-color: red;
  outline: none;
}

.personal-account-content .wrap-link-account ul li:last-child a {
  border-right-width: 2px;
}

.personal-account-content form {
  width: 1168px;
  border-left: 2px solid #005aa8;
  border-right: 2px solid #005aa8;
  border-bottom: 2px solid #005aa8;
  overflow: hidden;
  padding: 23px 23px 6px 23px;
  margin-bottom: 100px;
}

.personal-account-content form .column-half {
  float: left;
  padding-bottom: 17px;
  width: 387px;
}

.personal-account-content form .column-half label span {
  display: inline-block;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
}

.personal-account-content form .column-half label input {
  border: 2px solid #d1d1d1;
  width: 347px;
  height: 32px;
}

.personal-account-content form .column-half input[type=submit] {
  width: 347px;
  height: 32px;
  border: 2px solid #0083f4;
  background-color: white;
  margin-top: 17px;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 387px;
}

.personal-account-content form .column-half input[type=submit]:hover {
  background-color: #005aa8;
  color: white;
}

.personal-account-content form .column-half input[type=submit]:active {
  background-color: red;
  border-color: red;
}

.registration-content h2 {
  text-align: center;
  color: black;
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  padding: 20px 0;
  text-transform: uppercase;
}

.registration-content .wrap-link-account ul {
  font-size: 0;
}

.registration-content .wrap-link-account ul li {
  display: inline-block;
}

.registration-content .wrap-link-account ul li span {
  width: 390px;
  padding: 18px 0;
  text-align: center;
  display: inline-block;
  color: #005aa8;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #005aa8;
  border-right-width: 0px;
}

.registration-content .wrap-link-account ul li:last-child span {
  border-right-width: 2px;
}

.registration-content form {
  position: relative;
  width: 1170px;
  border-left: 2px solid #005aa8;
  border-right: 2px solid #005aa8;
  border-bottom: 2px solid #005aa8;
  overflow: hidden;
  padding: 23px 0 23px 0;
  margin-bottom: 100px;
}

.registration-content form .column-one-third {
  float: left;
  padding-bottom: 17px;
  width: 388px;
  text-align: center;
}

.registration-content form .column-one-third label span {
  display: inline-block;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3;
}

.registration-content form .column-one-third label span:before {
  content: "*";
  color: red;
  font-size: 18px;
}

.registration-content form .column-one-third label input {
  padding-left: 10px;
  border: 2px solid #d1d1d1;
  width: 347px;
  height: 32px;
}

.registration-content form .column-one-third label h4 {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.registration-content form .column-one-third .column-one-third-mini {
  float: left;
  padding-bottom: 17px;
  width: 129px;
}

.registration-content form .column-one-third .column-one-third-mini span {
  display: block;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
}

.registration-content form .column-one-third .column-one-third-mini input {
  width: 100px;
}

.registration-content form .column-one-third input[type=checkbox] {
  zoom: 2.7;
  margin-top: 7px;
  outline: none;
}

.registration-content form .column-one-third .description-checkbox {
  float: right;
  display: inline-block;
  margin-right: 93px;
  padding-top: 19px;
  color: #0083f4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

.registration-content form .column-one-third input[type=submit] {
  width: 347px;
  height: 32px;
  border: 2px solid #0083f4;
  background-color: white;
  margin-top: 17px;
  color: #0083f4;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.registration-content form .column-one-third input[type=submit]:hover {
  background-color: #005aa8;
  color: white;
  border: none;
}

.registration-content form .column-one-third input[type=submit]:hover:active {
  background-color: red;
  outline: none;
}

.contacts-content {
  position: relative;
  left: -43px;
  width: 1083px;
  padding-bottom: 100px;
}

.contacts-content h3 {
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
}

.contacts-content p {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-height: 16px;
  padding-bottom: 20px;
  line-height: 16px;
}

.contacts-content p a {
  color: #005aac;
}

.footer .footer-wrap {
  position: relative;
}

.footer .footer-wrap #callback {
  position: absolute;
  display: none;
  position: fixed;
  right: 10px;
  bottom: 100px;
  text-align: center;
  width: 85px;
  height: 85px;
  padding: 15px 0;
  border-radius: 50%;
  background-color: #0083f4;
  cursor: pointer;
  z-index: 100;
}

.footer .footer-wrap #callback span {
  display: block;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

.footer .footer-wrap #callback .fa-volume-control-phone {
  display: none;
  font-size: 60px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.footer .footer-wrap #callback .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-iteration-count: 100;
          animation-iteration-count: 100;
}

.footer .footer-wrap #callback.active span {
  display: none;
}

.footer .footer-wrap #callback.active .fa-volume-control-phone {
  display: inline-block;
}

.footer .footer-wrap #callback_form {
  display: none;
  position: fixed;
  right: 120px;
  bottom: 100px;
  border-radius: 5px;
  background-color: #0083f4;
  padding: 8px 20px;
  z-index: 100;
}

.footer .footer-wrap #callback_form:after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #0083f4;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer .footer-wrap #callback_form h3 {
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}

.footer .footer-wrap #callback_form form #telephone {
  display: block;
  float: left;
  padding: 7px 29px 7px 29px;
  margin: 8px 12px 0 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  background-color: transparent;
  outline: none;
  border: 1px solid #0058a5;
}

.footer .footer-wrap #callback_form form #telephone::-webkit-input-placeholder {
  color: white;
}

.footer .footer-wrap #callback_form .link-callback-form {
  float: left;
  color: white;
  font-family: Lato;
  font-size: 14px;
  background-color: #0058a5;
  padding: 8px 20px;
  margin-top: 7px;
  border: none;
}

.footer .footer-wrap #callback_form .link-callback-form:active {
  background-color: red;
}

.footer .footer-wrap .footer-logo {
  padding-top: 10px;
}

.footer .footer-wrap .footer-logo img {
  float: left;
}

.footer .footer-wrap .footer-logo .logo-description {
  text-align: left;
  float: left;
  padding: 40px 0 15px 5px;
  color: white;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
}

.footer .footer-wrap .nav-footer {
  display: inline-block;
  padding: 10px 0 10px 0;
}

.footer .footer-wrap .nav-footer .footer-link-block {
  margin: 0 120px 0 0;
  display: block;
  float: left;
}

.footer .footer-wrap .nav-footer .footer-link-block:last-child {
  margin: 0 0;
}

.footer .footer-wrap .nav-footer .footer-link-block.after {
  content: "";
  height: 117px;
  border-left: 2px solid white;
  margin: 0px 20px 0 322px;
}

.footer .footer-wrap .nav-footer .footer-link-block h3 {
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

.footer .footer-wrap .nav-footer .footer-link-block ul li {
  padding-top: 2px;
}

.footer .footer-wrap .nav-footer .footer-link-block ul li .link-footer {
  color: white;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
}

.footer .footer-wrap .nav-footer .footer-link-block ul li .link-footer:hover {
  text-decoration: underline;
  color: #0083f4;
}

.footer .footer-wrap .nav-footer .footer-link-block h5 {
  color: white;
  font-family: Lato;
  font-size: 13px;
  padding-top: 7px;
}

.footer .footer-wrap .footer-copyright {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 13px;
  padding: 5px 0 5px 0;
}

.footer .footer-wrap #toTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}

.footer .footer-wrap #toTop .up-img {
  width: 64px;
}
