.footer

  .footer-wrap
    position: relative

    #callback
      position: absolute
      display: none
      position: fixed
      right: 10px
      bottom: 100px
      text-align: center
      width: 85px
      height: 85px
      padding: 15px 0
      border-radius: 50%
      background-color: rgb(0, 131, 244)
      cursor: pointer
      z-index: 100

      span
        display: block
        color: rgb(255, 255, 255)
        font:
          family: Lato
          size: 14px
          style: italic
        line-height: 18px

      .fa-volume-control-phone
        display: none
        font-size: 60px
        transform: rotate(30deg)

      .animated
        animation-duration: 1s
        animation-delay: 0.4s
        animation-iteration-count: 100

      &.active span
        display: none

      &.active .fa-volume-control-phone
        display: inline-block

    #callback_form
      display: none
      position: fixed
      right: 120px
      bottom: 100px
      border-radius: 5px
      background-color: rgb(0, 131, 244)
      padding: 8px 20px
      z-index: 100

      //.callback_form_close
      //  position: absolute
      //  top: -10px
      //  left: -10px
      //  cursor: pointer

      &:after
        content: ''
        display: inline-block
        position: absolute
        border: 10px solid transparent
        border-left-color: rgb(0, 131, 244)
        top: 50%
        right: -20px
        transform: translateY(-50%)

      h3
        text-align: center
        color: rgb(255, 255, 255)
        font:
          family: Lato
          size: 14px
          style: italic

      form

        #telephone
          display: block
          float: left
          padding: 7px 29px 7px 29px
          margin: 8px 12px 0 0
          color: #ffffff
          font:
            family: Lato
            size: 14px
            style: italic
          background-color: transparent
          outline: none
          border: 1px solid #0058a5

          &::-webkit-input-placeholder
            color: rgb(255, 255, 255)

      .link-callback-form
        //display: block
        float: left
        color: white
        font:
          family: Lato
          size: 14px
        background-color: #0058a5
        padding: 8px 20px
        margin-top: 7px
        border: none

        &:active
          background-color: red

    .footer-logo
      padding-top: 10px

      img
        float: left

      .logo-description
        text-align: left
        float: left
        padding: 40px 0 15px 5px
        color: rgb(255, 255, 255)
        font:
          family: Lato
          size: 12px
          weight: 700
        text-transform: uppercase
        line-height: 15px

    .nav-footer
      display: inline-block
      padding: 10px 0 10px 0

      .footer-link-block
        margin: 0 120px 0 0
        display: block
        float: left

        &:last-child
          margin: 0 0

        &.after

          &:after
          content: ""
          height: 117px
          border-left: 2px solid white
          margin: 0px 20px 0 322px


        h3
          color: rgb(255, 255, 255)
          font:
            family: Lato
            size: 18px
            weight: 700
          padding-bottom: 10px

        ul

          li
            padding-top: 2px

            .link-footer
              color: rgb(255, 255, 255)
              font:
                family: Lato
                size: 13px
                weight: 400

              &:hover
                text-decoration: underline
                color: rgb(0, 131, 244)

        h5
          color: rgb(255, 255, 255)
          font:
            family: Lato
            size: 13px
          padding-top: 7px

    .footer-copyright
      display: inline-block
      text-align: center
      color: rgb(255, 255, 255)
      font:
        family: Lato
        size: 13px
      padding: 5px 0 5px 0

    #toTop
      display: none
      position: fixed
      right: 20px
      bottom: 10px
      cursor: pointer

      .up-img
        width: 64px

