.clearfix:after
  content: ""
  display: table
  clear: both

.container
  width: $width-for-container
  margin: 0 auto




/////------------------HEADER------------------
.band-color1
  background-color: $header-top-color
//header top band color


.header-top
  padding: 5px 0

  .header-top-contacts
    float: left

    a
      color: rgb(255, 255, 255)
      font:
        family: Lato
        size: 13px
        weight: 400

      &:hover
        color: rgb(26, 192, 255)

  .header-top-quastions
    float: right
    color: rgb(255, 255, 255)
    font:
      family: Lato
      weight: 400
      size: 13px



.header-bottom
  padding: 9px 0

  .header-logo
    float: left
    cursor: pointer

  .animated
    animation-duration: 2s

    //LOGO
    img
      float: left

    .logo-description
      padding: 37px 0 0 5px
      float: right
      color: rgb(0, 90, 168)
      font:
        family: Lato
        size: 12px
        weight: 700
      text-transform: uppercase
      line-height: 15px

  .wrap-header-user
    float: right
    position: relative

    //USER account
    .header-account-btn
      float: left
      text-align: center
      padding-right: 60px
      transition: 1s box-shadow

      &:hover .fa-user-o
        color:  #0083f4

      &:hover h3
        color:  #0083f4

      .fa-user-o
        padding-top: 20px
        font:
          family: FontAwesome
          size: 36px
          weight: 400
        color: rgb(0, 0, 0)

      h3
        padding: 7px 0 0 0
        float: left
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 12px
          weight: 700
        text-transform: uppercase


    //USER slide-down FORM
    #user-form
      display: none
      z-index: 10
      position: absolute
      top: 110px
      right: 0px
      background-color: rgb(255, 255, 255)



      h3
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 18px
          weight: 400
        padding: 17px 0 17px 0
        text-align: center

      .input-user-form-user
        width: 270px
        height: 30px
        display: block
        margin: 0 20px 10px 20px
        padding-left: 5px

      .input-user-form-password
        width: 270px
        height: 30px
        display: block
        margin: 0 20px 10px 20px
        padding-left: 5px

      .btn-user-form
        display: block
        width: 270px
        height: 30px
        //padding: 7px 100px 7px 100px
        color: rgb(255, 255, 255)
        background-color: #0083f4
        text-align: center
        padding: 7px 0 7px 0
        margin: 0 auto

        &:hover
          background-color: #ff0000

        &:active
         background-color: #003868

      .user-options
        display: block
        margin: 20px 20px 20px 20px

        .user-forgot-password
          display: block
          float: left
          color: rgb(0, 0, 0)
          padding-bottom: 10px
          text-decoration: underline

        .user-registration
          display: block
          float: right
          color: rgb(0, 0, 0)
          padding-bottom: 10px
          text-decoration: underline

    //CART
    .header-cart
      position: relative
      float: right
      padding-top: 20px
      text-align: center

      &:hover .cart-image
        display: none

      &:hover .cart-image-hover
        display: block
        padding-left: 6.5px

      &:hover h3
        color: #0083f4
        margin-top: 3px

      .cart-image
        width: 46px
        height: 37px

      .cart-image-hover
        display: none

      .cirkle-with-amount-product
        display: inline-block
        position: absolute
        top: 10px
        right: -3px
        width: 24px
        height: 24px
        background-color: red
        border-radius: 50%
        text-align: center
        line-height: 24px

      h3
        padding: 2px 0 0 0
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 12px
          weight: 700
        text-transform: uppercase

//-------------------------main-navigation----------------
.band-color2
  background-color: $container-main-menu-color


//Главное меню (меню первого уровня)
.nav
  >li
    display: inline-block
    position: relative

    >a
      display: inline-block
      color: $default-link-color
      font:
        size: 18px
        family: Lato
        weight: 400
      padding: 20px 44px
      background-color: rgb(0, 56, 104)

    &:hover a
      background-color: #005aa8
      color: rgb(255, 255, 255)

    .fa-th-list
      padding-right: 5px
      font:
        size: 18px
        weight: 300

    &:hover .menu-drop-down
      opacity: 1
      display: block

    .menu-drop-down
      display: none
      width: 178px
      position: absolute
      left: 0
      top: 58px
      opacity: 0
      z-index: 1
      +background-color-opacity(#005aa8, 1)

      li
        display: block
        position: relative

        a
          display: block
          color: #0083f4
          padding: 9px 18px 9px 18px

          &:hover
            background-color: #0083f4
            color: rgb(255, 255, 255)

        &:hover ul
          opacity: 1
          display: block

        ul
          display: none
          width: 178px
          position: absolute
          left: 178px
          top: 0
          opacity: 0
          z-index: 1
          +background-color-opacity(#005aa8, 1)

          li
            display: block

            a
              display: block
              color: #0083f4
              padding: 9px 18px 9px 18px

              &:hover
                background-color: #0083f4
                color: rgb(255, 255, 255)



//Блок бренд-картинки со слоганом и соц сетями
.company-picture
  position: relative

  img
    width: 100%

  .wrapper-for-brand-picture

    .social-brand-picture
      position: absolute
      top: 50%
      right: 50%
      margin-right: -565px
      transform: translateY(-50%)

      li
        display: block
        width: 35px
        height: 35px
        +background-color-opacity($background-link-social-color, 0.7)
        -moz-border-radius: 50px
        -webkit-border-radius: 50px
        border-radius: 50px
        text-align: center
        vertical-align: middle
        line-height: 35px
        margin: 10px 0 10px 0
        overflow: hidden
        float: right
        clear: both
        //transition: width 0.5s ease-in-out

        //&:hover
        //  text-align: left
        //
        //&:hover h4
        //  visibility: visible

        a
          display: block
          float: right
          width: 35px
          height: 35px
          text-align: center
          color: $link-social-color
          font:
            size: 18px
            weight: 400

          &:hover
            background-color: rgb(0, 90, 168)
            color: white
            outline: none

          &:active
            background-color: red
            outline: none

    .description-brand-picture
      position: absolute
      top: 50%
      left: 50%
      margin-left: -565px
      transform: translateY(-50%)
      +background-color-opacity($background-color-for-slogan, 0.6)
      border-radius: 5px
      padding: 12px 20px

      h2
        color: rgb(255,255,255)
        font:
          family: Lato
          size: 36px
          weight: 400
          style: italic

      span
        color: rgb(255,255,255)
        font:
          family: Lato
          size: 36px
          weight: 700
          style: italic

    .animated
      animation-duration: 2s

