%breadcrumbs-container
  padding: 20px 0 20px 0

%breadcrumbs-link
  +color-opacity(rgb(0, 90, 168), 1)
  font-size: 14px
  font-weight: 400
  font-family: Lato
  text-decoration: underline

%horizontal-line
  border-bottom: 2px solid #005aa8
  margin-bottom: 20px

%h2-content
  color: $text-color
  font-family: Lato
  font-size: 26px
  font-weight: 900
  padding-top: 20px
  padding-bottom: 20px
