.breadcrumbs-container
  @extend %breadcrumbs-container

  .breadcrumbs

    li
      display: inline-block

      a
        @extend %breadcrumbs-link

.horizontal-line
  @extend %horizontal-line

.about-company-content
  position: relative
  left: -43px
  width: 1083px
  padding-bottom: 100px

  h2
    @extend %h2-content

  p
    padding-bottom: 20px

    strong
      font:
        weight: 700

    span
      font:
        weight: 700
      color: #005aa8

  ol
    list-style: decimal inside
    padding-bottom: 20px

    li
      color: rgb(0, 0, 0)
      font:
        family: Lato
        size: 14px
        weight: 400
      line-height: 16px

