.basket-content
  padding:
    bottom: 100px
    top: 20px

  .wrap-link-basket

    ul
      font-size: 0

      li
        display: inline-block

        a
          text-align: center
          width: 292px
          display: inline-block
          color: rgb(0, 90, 168)
          font:
            family: Lato
            size: 18px
            weight: 700
          text-transform: uppercase
          padding: 18px 0
          border: 2px solid rgb(0, 90, 168)
          border-right-width: 0px

          &:hover
            background-color: rgb(0, 90, 168)
            color: white

          &:active
            background-color: red
            border-color: red

        &:last-child a
          border-right-width: 2px

  h2
    @extend %h2-content
    text-transform: uppercase
    font:
      weight: 700
    padding-bottom: 0

  .wrap-for-column-basket

    .wrap-for-column
      padding: 5px 0
      width: 100%
      overflow: hidden
      border-bottom: 1px solid darkgray

      &.block-without-image
        .main-column
          .inner-for-column
            margin-left: 178px

      .td-column
        float: left
        text-align: center
        vertical-align: middle


      .main-column
        line-height: 5
        width: 70%
        text-align: left

        h2
          padding: 0
          color: rgb(0, 0, 0)
          font-family: Lato
          font-size: 18px
          font-weight: 700
          text-transform: none

        img
          padding: 0 70px
          float: left

        .inner-for-column
          line-height: 0
          float: left
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 18px
            weight: 400

          h3
            font:
              weight: 700
            padding-top: 20px

          .product-in-use
            color: rgb(0, 131, 244)
            display: inline-block
            padding-top: 25px

        .product-in-use
          color: rgb(0, 131, 244)
          display: inline-block
          padding-top: 25px

      .second-column
        line-height: 5
        width: 9%
        color: rgb(0, 0, 0)
        font-family: Lato
        font-size: 18px
        font-weight: 400

      .third-column
        line-height: 5
        width: 9%
        color: rgb(0, 0, 0)
        font-family: Lato
        font-size: 18px
        font-weight: 400

      .fourth-column
        line-height: 5
        width: 12%
        position: relative
        color: rgb(0, 0, 0)
        font-family: Lato
        font-size: 18px
        font-weight: 400

        .quantity
          width: 68px
          height: 40px
          padding-left: 16px
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 18px
            weight: 400
          border: 2px solid rgb(209, 209, 209)

        .wrap-for-canceled
          display: inline-block
          background: url(../img/basket-canceled.png) no-repeat
          width: 22px
          height: 22px
          margin-left: 10px

        .quantity-plus
          color: rgb(0, 0, 0)
          font:
            family: "Font Awesome"
            size: 20px
            weight: 900
          display: inline-block
          position: absolute
          top: 26px
          left: 60px
          line-height: 0
          cursor: pointer

        .quantity-minus
          color: rgb(0, 0, 0)
          font:
            family: "Font Awesome"
            size: 20px
            weight: 900
          display: inline-block
          position: absolute
          bottom: 28px
          left: 60px
          line-height: 0
          cursor: pointer

    .clear-the-basket
      display: inline-block
      color: rgb(0, 131, 244)
      float: right
      font-family: Lato
      font-size: 18px
      font-weight: 400
      text-decoration: underline
      margin-top: 15px

      &:hover
        color: red

    .wrap-for-order
      float: right
      clear: both
      margin-top: 15px
      border: 2px solid rgb(0, 90, 168)
      text-align: center


      h2
        color: rgb(255, 255, 255)
        font-family: Lato
        font-size: 26px
        font-weight: 400
        text-align: center
        padding: 21px 91px
        clear: both
        background-color: rgb(0, 90, 168)


      .inner-wrap-for-order

        .left-column
          float: left
          margin-left: 20px

        .right-column
          float: right
          margin-right: 20px

        .left-column, .right-column

          .h3-main-order
            color: rgb(0, 0, 0)
            font-family: Lato
            font-size: 14px
            font-weight: 700
            padding-top: 20px
            padding-bottom: 4px

          h3
            color: rgb(0, 0, 0)
            font-family: Lato
            font-size: 14px
            font-weight: 400
            padding-bottom: 4px

          .h3-order-resume
            color: rgb(0, 131, 244)
            font-family: Lato
            font-size: 18px
            font-weight: 700
            padding-top: 8px
            padding-bottom: 9px

      .btn-order
        display: inline-block
        color: rgb(0, 131, 244)
        font-family: Lato
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        border: 2px solid rgb(0, 131, 244)
        padding: 8px 114px
        margin-bottom: 20px

        &:hover
          background-color: rgb(0, 90, 168)
          color: white

        &:active
          background-color: red
          border-color: red


    .column-9percent, .column-11percent
      float: right






