.catalog-content
  padding-bottom: 110px

  .col3
    width: 20%
    float: left

    .multi-accordion

      ul

        li
          display: list-item

          a
            display: inline-block
            padding-bottom: 17px
            color: rgb(0, 0, 0)
            color: rgb(0, 0, 0)
            font-family: Lato
            font-size: 18px
            font-weight: 400
            text-decoration: underline

            &:hover
              color: #0083f4

          ul
            display: none

            li

              a
                font-size: 14px
                display: inline-block
                text-decoration: none
                padding-bottom: 11px

                &:hover
                  color: #0083f4



  .col9
    width: 80%
    float: right

    h2
      color: rgb(0, 0, 0)
      font-family: Lato
      font-weight: 700
      font-size: 18px

    h3
      color: rgb(0, 0, 0)
      font-family: Lato
      font-weight: 700
      font-size: 14px

    .catalog-product-page
      h2
        display: inline-block
        font-family: Lato
        font-size: 18px
        font-weight: 400
        line-height: 23px
        text-transform: uppercase
        color: #000000
        margin-bottom: 20px

      .carousel-product
        float: left
        text-align: center
        max-width: 270px
        margin: 0 21px

        .wrap-for-image
          display: block
          text-align: center
          height: 221px
          line-height: 221px

          &:hover img
            transform: scale(1.25)

          img
            vertical-align: middle
            display: inline-block
            max-width: 270px
            max-height: 161px
            width: auto
            transition: all 0.3s ease-out

        h4
          text-align: left
          padding: 10px 0 10px 0

          .product-capture
            color: #000000
            font-family: Lato
            font-size: 18px
            font-weight: 400

        .details-available
          text-align: left

          .not-available
            color: #0058a5
            font-family: Lato
            font-size: 14px
            font-weight: 400

          .available
            color: #0058a5
            font-family: Lato
            font-size: 14px
            font-weight: 400

        .details-price
          display: block
          padding-top: 16px
          float: left
          color: #000000
          font-family: Lato
          font-size: 18px
          font-weight: 700

        .btn-buy
          position: relative
          float: right
          padding: 8px 28px
          border: 2px solid #0083f4
          color: #0083f4
          font-family: Lato
          font-size: 18px
          font-weight: 400
          text-transform: uppercase

          &:hover
            background-color: #0083f4
            color: white

          &:active
            background-color: #003868
            border: 2px solid #003868

    .pagination
      margin-top: 20px

      .prev
        float: left
        margin-left: 430px
        display: inline-block
        width: 30px
        height: 30px
        background: url(../img/prev-slider-button.png) no-repeat

        &:hover
          background: url(../img/click-prev-slider-button.png) no-repeat

      .next
        float: right
        margin-right: 430px
        display: inline-block
        width: 30px
        height: 30px
        background: url(../img/next-slider-button.png) no-repeat

        &:hover
          background: url(../img/click-next-slider-button.png) no-repeat