.contacts-content
  position: relative
  left: -43px
  width: 1083px
  padding-bottom: 100px

  h2
    @extend %h2-content

  h3
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 18px
      weight: 700
      size: 22px
    padding-bottom: 20px

  p
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 14px
      weight: 400
      height: 16px
    padding-bottom: 20px
    line-height: 16px

    a
      color: rgb(0, 90, 172)

