.headline-serif
  padding: 20px 0

.headline-separator-holder
  line-height: 1.5
  text-align: center
  color: #005aa8
  font-family: Lato
  font-size: 26px
  font-weight: 700
  font-style: italic
  line-height: 23px
  overflow: hidden

  span
    display: inline-block
    position: relative
    text-transform: uppercase

    &:after,
    &:before
      content: ""
      position: absolute
      top: 50%
      transform: translateY(-50% )
      border-bottom: 2px solid #005aa8


    &:before
      right: 100%
      margin-right: 15px
      width: 1000px

    &:after
      left: 100%
      margin-left: 15px
      width: 1000px

//product slider 1
.product-slider
  text-align: center

  h2
    display: inline-block
    font-family: Lato
    font-size: 18px
    font-weight: 400
    line-height: 23px
    text-transform: uppercase
    color: #000000
    margin-bottom: 20px

  .owl-carousel
    padding: 0 130px

    .carousel-product
      text-align: center
      max-width: 270px
      margin: 0 auto

      .wrap-for-image
        display: block
        text-align: center
        height: 221px
        line-height: 221px

        &:hover img
          transform: scale(1.25)

        img
          vertical-align: middle
          display: inline-block
          max-width: 270px
          max-height: 161px
          width: auto
          transition: all 0.3s ease-out

      h4
        text-align: left
        padding: 10px 0 10px 0

        .product-capture
          color: #000000
          font-family: Lato
          font-size: 18px
          font-weight: 400

      .details-available
        text-align: left

        .not-available
          color: #0058a5
          font-family: Lato
          font-size: 14px
          font-weight: 400

        .available
          color: #0058a5
          font-family: Lato
          font-size: 14px
          font-weight: 400

      .details-price
        display: block
        padding-top: 16px
        float: left
        color: #000000
        font-family: Lato
        font-size: 18px
        font-weight: 700

      .btn-buy
        position: relative
        float: right
        padding: 8px 28px
        border: 2px solid #0083f4
        color: #0083f4
        font-family: Lato
        font-size: 18px
        font-weight: 400
        text-transform: uppercase

        &:hover
          background-color: #0083f4
          color: white

        &:active
          background-color: #003868
          border: 2px solid #003868

    .owl-nav

      .owl-prev
        position: absolute
        top: 50%
        left: 0%
        transform: translateY(-50%)
        width: 20px
        height: 20px
        background-image: url(../img/prev-slider-button.png)
        background-repeat: no-repeat

        &:hover
          background-image: url(../img/click-prev-slider-button.png)
          background-repeat: no-repeat

        &:active
          position: absolute
          top: 50%
          left: 0%
          transform: translateY(-50%)
          width: 20px
          height: 20px
          background-image: url(../img/click-prev-slider-button.png)
          background-repeat: no-repeat


      .owl-next
        position: absolute
        top: 50%
        right: 0%
        transform: translateY(-50%)
        width: 20px
        height: 20px
        background-image: url(../img/next-slider-button.png)
        background-repeat: no-repeat

        &:hover
          background-image: url(../img/click-next-slider-button.png)
          background-repeat: no-repeat

        &:active
          position: absolute
          top: 50%
          right: 0%
          transform: translateY(-50%)
          width: 20px
          height: 20px
          background-image: url(../img/click-next-slider-button.png)
          background-repeat: no-repeat


.product-slider-second
  text-align: center

  h2
    display: inline-block
    font-family: Lato
    font-size: 18px
    font-weight: 400
    line-height: 23px
    text-transform: uppercase
    color: #000000
    margin: 20px 0

  .owl-carousel
    padding: 0 130px
    position: relative

    .carousel-product
      text-align: center
      max-width: 270px
      margin: 0 auto

      .wrap-for-image
        display: block
        text-align: center
        padding-top: 10px
        height: 221px
        line-height: 221px

        &:hover img
          transform: scale(1.25)

        img
          vertical-align: middle
          display: inline-block
          max-width: 270px
          max-height: 161px
          width: auto
          transition: all 0.3s ease-out

      h4
        text-align: left
        padding: 10px 0 10px 0

        .product-capture
          color: #000000
          font-family: Lato
          font-size: 18px
          font-weight: 400

      .details-available
        text-align: left

        .not-available
          color: #0058a5
          font-family: Lato
          font-size: 14px
          font-weight: 400

        .available
          color: #0058a5
          font-family: Lato
          font-size: 14px
          font-weight: 400

      .details-price
        display: block
        padding-top: 16px
        float: left
        color: #000000
        font-family: Lato
        font-size: 18px
        font-weight: 700

      .btn-buy
        float: right
        padding: 8px 28px
        border: 2px solid #0083f4
        color: #0083f4
        font-family: Lato
        font-size: 18px
        font-weight: 400
        text-transform: uppercase

        &:hover
          background-color: #0083f4
          color: white

        &:active
          background-color: #003868
          border: 2px solid #003868

  .owl-nav

    .owl-prev
      position: absolute
      top: 50%
      left: 0%
      transform: translateY(-50%)
      width: 20px
      height: 20px
      background-image: url(../img/prev-slider-button.png)
      background-repeat: no-repeat

      &:hover
        background-image: url(../img/click-prev-slider-button.png)
        background-repeat: no-repeat

      &:active
        position: absolute
        top: 50%
        left: 0%
        transform: translateY(-50%)
        width: 20px
        height: 20px
        background-image: url(../img/click-prev-slider-button.png)
        background-repeat: no-repeat


    .owl-next
      position: absolute
      top: 50%
      right: 0%
      transform: translateY(-50%)
      width: 20px
      height: 20px
      background-image: url(../img/next-slider-button.png)
      background-repeat: no-repeat

      &:hover
        background-image: url(../img/click-next-slider-button.png)
        background-repeat: no-repeat

      &:active
        position: absolute
        top: 50%
        right: 0%
        transform: translateY(-50%)
        width: 20px
        height: 20px
        background-image: url(../img/click-next-slider-button.png)
        background-repeat: no-repeat


.subscription
  padding-top: 60px
  position: relative
  z-index: 0

  .subscription-image
    z-index: 1
    display: block

  .wrap-for-news-and-shares
    text-align: center
    position: absolute
    top: 98px
    right: 160px
    width: 350px
    padding: 15px 35px 15px 35px
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5)
    border-radius: 10px
    +background-color-opacity(#003868, 0.7)
    text-align: center
    z-index: 2

    .letter-image
      position: absolute
      left: 50%
      margin-left: -88.5px
      margin-top: -96.5px
      z-index: 2

    h3
      position: relative
      font-family: Lato
      font-style: italic
      font-size: 26px
      font-weight: 700
      color: rgb(255, 255, 255)
      z-index: 3
      white-space: nowrap
      line-height: 35px

      span
        color: #ff0000
        font-style: italic

    h5
      padding-top: 30px
      color: rgb(255, 255, 255)
      font-family: Lato
      font-size: 15px
      font-weight: 700
      font-style: italic
      line-height: 22px
      white-space: nowrap

    .input-name
      padding-left: 10px
      margin-top: 25px
      display: inline-block
      width: 270px
      height: 28px
      background-color: transparent
      z-index: 3
      border: 2px solid white
      color: white
      font-family: Lato
      font-size: 14px
      font-style: italic
      line-height: 22px
      outline: none
      &::-webkit-input-placeholder
        color: rgb(255, 255, 255)

    .input-telephone
      padding-left: 10px
      margin-top: 10px
      display: inline-block
      width: 270px
      height: 28px
      background-color: transparent
      border: 2px solid white
      color: white
      font-family: Lato
      font-size: 14px
      font-style: italic
      line-height: 22px
      outline: none

      &::-webkit-input-placeholder
        color: rgb(255, 255, 255)

    .input-email
      padding-left: 10px
      margin-top: 10px
      display: inline-block
      width: 270px
      height: 28px
      background-color: transparent
      border: 2px solid white
      color: white
      font-family: Lato
      font-size: 14px
      font-style: italic
      line-height: 22px
      outline: none

      &::-webkit-input-placeholder
        color: rgb(255, 255, 255)

    .btn-subscribe
      display: inline-block
      margin-top: 10px
      padding: 10px 67px
      background-color: #005aa8
      color: #e9e9e9
      font-family: Lato
      font-size: 18px
      font-weight: 400
      line-height: 15px
      text-transform: uppercase
      border: none

      &:hover
        background-color: #ff0000
        outline: none

      &:active
        background-color: #003868
        outline: none




