.personal-account-content

  h2
    text-align: center
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 26px
      weight: 400
    padding: 20px 0
    text-transform: uppercase

  .wrap-link-account

    ul
      font-size: 0

      li
        display: inline-block

        a
          text-align: center
          width: 292px
          display: inline-block
          color: rgb(0, 90, 168)
          font:
            family: Lato
            size: 18px
            weight: 700
          text-transform: uppercase
          padding: 18px 0
          border: 2px solid rgb(0, 90, 168)
          border-right-width: 0px

          &:hover
            background-color: rgb(0, 90, 168)
            color: white
            outline: none

          &:active
            background-color: red
            outline: none

        &:last-child a
          border-right-width: 2px


  form
    width: 1168px
    border:
      left: 2px solid rgb(0, 90, 168)
      right: 2px solid rgb(0, 90, 168)
      bottom: 2px solid rgb(0, 90, 168)
    overflow: hidden
    padding: 23px 23px 6px 23px
    margin-bottom: 100px

    .column-half
      float: left
      padding-bottom: 17px
      width: 387px

      label

        span
          display: inline-block
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 14px
            weight: 700
          padding-bottom: 3px

        input
          border: 2px solid rgb(209, 209, 209)
          width: 347px
          height: 32px

      input[type=submit]
        width: 347px
        height: 32px
        border: 2px solid rgb(0, 131, 244)
        background-color: white
        margin-top: 17px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 18px
          weight: 700
        text-transform: uppercase
        margin-left: 387px

        &:hover
          background-color: rgb(0, 90, 168)
          color: white

        &:active
          background-color: red
          border-color: red


