.product-card-content

  .wrap-for-product-card
    width: 560px
    float: left

    h3
      padding-top: 20px
      color: rgb(0, 0, 0)
      font:
        family: Lato
        size: 18px
        weight: 400

    img
      float: left
      margin: 20px 130px

    .wrap-for-order-card

      .details-available
        padding-top: 20px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 14px
          weight: 400

      .details-price
        padding: 7px 0
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 26px
          weight: 700

      .quantity
        float: left
        display: block
        text-align: center
        width: 8px
        height: 19px
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 14px
          weight: 400
        width: 25px
        border: none

      .quantity-plus-card
        float: left
        display: block
        background: url(../img/next-quantity-product-card.png) no-repeat
        width: 20px
        height: 20px

      .quantity-minus-card
        float: left
        display: block
        background: url(../img/prev-quantity-product-card.png) no-repeat
        width: 20px
        height: 20px

      .exit-from-quantity
        margin: 4px 10px
        float: left
        display: block
        background: url(../img/exit-quantity.png) no-repeat
        width: 30px
        height: 30px
        

      input[type=submit]
        display: inline-block
        margin-top: 175px
        display: block
        padding: 7px 29px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 18px
          weight: 400
        text-transform: uppercase
        background-color: white
        border: 2px solid rgb(0, 131, 244)


    .description-product-card
      clear: both

      h2
        color: rgb(0, 0, 0)
        font:
          family: Lato
          size: 18px
          weight: 700

      p
        padding-top: 20px
        width: 556px
        color: rgb(0, 0, 0)
        font-family: Lato
        font-size: 14px
        font-weight: 400

    a
      display: inline-block
      color: rgb(0, 90, 168)
      font-family: Lato
      font-size: 14px
      font-weight: 400
      text-decoration: underline
      margin:
        bottom: 60px
        top: 25px



