.registration-content

  h2
    text-align: center
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 26px
      weight: 400
    padding: 20px 0
    text-transform: uppercase

  .wrap-link-account

    ul
      font-size: 0

      li
        display: inline-block

        span
          width: 390px
          padding: 18px 0
          text-align: center
          display: inline-block
          color: rgb(0, 90, 168)
          font:
            family: Lato
            size: 18px
            weight: 700
          text-transform: uppercase
          border: 2px solid rgb(0, 90, 168)
          border-right-width: 0px

        &:last-child span
          border-right-width: 2px


  form
    position: relative
    width: 1170px
    border:
      left: 2px solid rgb(0, 90, 168)
      right: 2px solid rgb(0, 90, 168)
      bottom: 2px solid rgb(0, 90, 168)
    overflow: hidden
    padding: 23px 0 23px 0
    margin-bottom: 100px

    .column-one-third
      float: left
      padding-bottom: 17px
      width: 388px
      text-align: center

      label

        span
          display: inline-block
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 14px
            weight: 700
          padding-bottom: 3

          &:before
            content: "*"
            color: red
            font-size: 18px

        input
          padding-left: 10px
          border: 2px solid rgb(209, 209, 209)
          width: 347px
          height: 32px

        h4
          position: absolute
          bottom: 10px
          left: 20px

      .column-one-third-mini
        float: left
        padding-bottom: 17px
        width: 129px

        span
          display: block
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 14px
            weight: 700
          padding-bottom: 3px

        input
          width: 100px

      input[type=checkbox]
        zoom: 2.7
        margin-top: 7px
        outline: none

      .description-checkbox
        float: right
        display: inline-block
        margin-right: 93px
        padding-top: 19px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 14px
          weight: 700
          style: italic

      input[type=submit]
        width: 347px
        height: 32px
        border: 2px solid rgb(0, 131, 244)
        background-color: white
        margin-top: 17px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 18px
          weight: 700
        text-transform: uppercase

        &:hover
          background-color: rgb(0, 90, 168)
          color: white
          border: none

          &:active
            background-color: red
            outline: none

