.breadcrumbs-container
  @extend %breadcrumbs-container

  .breadcrumbs

    li
      display: inline-block

      a
        @extend %breadcrumbs-link

.horizontal-line
  @extend %horizontal-line

.representetives-content
  position: relative
  left: -43px
  width: 1083px
  padding-bottom: 100px

  h2
    @extend %h2-content

    span
      color: rgb(0, 90, 168)

  h3
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 18px
      weight: 400
    padding-bottom: 20px

  ol
    list-style: decimal inside
    padding-bottom: 20px

    li
      color: rgb(0, 0, 0)
      font:
        family: Lato
        size: 14px
        weight: 400
      line-height: 16px

  h1
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 26px
      weight: 400
    text-transform: uppercase
    padding-bottom: 20px
    padding-left: 239px


  form
    border: 2px solid rgb(209, 209, 209)
    width: 802px
    overflow: hidden
    padding: 23px 23px 6px 23px

    .column-half
      float: left
      width: 347px
      padding-bottom: 17px

      label

        span
          display: inline-block
          color: rgb(0, 0, 0)
          font:
            family: Lato
            size: 14px
            weight: 700
          padding-bottom: 3px

        input
          border: 2px solid rgb(209, 209, 209)
          width: 347px
          height: 32px

        textarea
          width: 347px
          height: 64px

      #btn-representatives
        width: 347px
        height: 32px
        border: 1px solid rgb(0, 131, 244)
        background-color: white
        margin-top: 17px
        color: rgb(0, 131, 244)
        font:
          family: Lato
          size: 18px
          weight: 400
        text-transform: uppercase

        &:hover
          background-color: rgb(0, 90, 168)
          color: white
          border: none

        &:active
          background-color: red
          outline: none

      &:nth-child(2n+1)
        margin-right: 58px




