.resellers-content
  padding-bottom: 90px
  position: relative
  left: -43px
  width: 1083px

  h2
    @extend %h2-content

  h3
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 18px
      weight: 700
      size: 22px
    padding-bottom: 20px

  p
    color: rgb(0, 0, 0)
    font-family: Lato
    font-size: 14px
    font-weight: 400
    line-height: 16px
    padding-bottom: 20px