.shares-content
  padding-bottom: 100px
  position: relative
  left: -43px
  width: 1083px
  text-align: center

  h2
    @extend %h2-content
    text-align: center
    text-transform: uppercase

  .wrap-for-shares
    display: inline-block
    border: 3px solid rgb(0, 90, 168)
    cursor: pointer

    &:hover
      border: 3px solid red

    &:hover .time-for-shares .shares-h2
      color: red

    &:hover .time-for-shares .shares-h3
      color: red

    &:hover .special-purpose-shares span
      color: red

    &:hover .special-purpose-shares .date
      color: red

    .time-for-shares
      float: left
      background-color: rgb(209, 209, 209)
      padding: 22px 70px

      .shares-h2
        color: rgb(0, 90, 168)
        font-family: Lato
        font-size: 52px
        font-weight: 700
        text-transform: uppercase
        padding: 0 0

      .shares-h3
        color: rgb(0, 90, 168)
        font-family: Lato
        font-size: 26px
        font-weight: 700

    .special-purpose-shares
      float: right

      .date
        float: right
        padding: 20px 20px 0 0
        color: black
        font-weight: 900
        color: rgb(0, 90, 168)

      span
        display: block
        padding: 50px 10px 10px 10px
        color: rgb(0, 90, 168)
        font-family: Lato
        font-size: 16px
        font-style: italic
        font-weight: 700

  .animated
    animation-duration: 2s