.shares-inner-content
  padding-bottom: 100px
  position: relative
  left: -43px
  width: 1083px
  text-align: center

  h2
    @extend %h2-content
    text-align: center
    text-transform: uppercase

  .shares-inner-description
    text-align: left

    h3
      padding:
        top: 20px
        bottom: 20px
      font-family: Lato
      font-size: 18px
      color: rgb(0, 90, 172)
      font-weight: 700
      color: rgb(0, 90, 172)
      text-transform: uppercase


    p
      padding:
        bottom: 20px
      font-family: Lato
      font-size: 14px
      font-weight: 400
      color: black
      line-height: 20px

      .strong
        font:
          weight: 700

      a
        color: rgb(0, 90, 172)

