.shipping-and-payments-content
  padding-bottom: 320px

  h2
    @extend %h2-content

  p
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 14px
      weight: 400
    padding-bottom: 20px

  h3
    color: rgb(0, 0, 0)
    font:
      family: Lato
      size: 18px
      weight: 700
    padding-bottom: 20px